body {
    background: #101017;
    color: #fff;
    font-family: Inter;
    width: 1350px;
    height: 4068px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin-left: 2px;
}

.navbar .dot {
    color: #079211;

}

.navbar ul {
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-height: normal;
    display: flex;
    align-items: center;
    gap: 38px;
    margin-left: 300px
}

.navbar .button {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-height: normal;
    padding: 10px 16px;
    align-items: center;
    gap: 50px;
    border-radius: 2px;
    border: 1px solid #079211;
    margin-left: 75px;
}

.navbar .button:hover {
    background: #079211;
}

.navbar .name {
    padding: 18px, 120px;
    display: block;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;
    gap: 100px;

}

hero .intro {
    color: #079211;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    margin-left: 100px;
    margin-top: 85px;
}

hero .title {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-left: 100px;
    margin-top: 0;
}

hero .introline {
    width: 550px;
    height: 82px;
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 100px;
    margin-top: 0;
}

hero .emailme {
    font-style: normal;
    font-weight: 500;
    font-height: normal;
    display: flex;
    align-items: center;
    gap: 38px;
}

hero .emailme .resume {
    text-decoration: none;
    color: #808080;
}

hero .emailbutton {
    display: flex;
    background: #079211;
    padding: 18px 28px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 80px;
    margin-top: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    border: none;
}

hero .email {
    text-decoration: none;
    color: #fff;
}